.planets {
  align-items: flex-end;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: row;
  font-family: 'Mukta', sans-serif;
  justify-content: space-around;
  list-style: none;
}

.planet-link {
  color: rgb(210 207 207);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}


@media (max-width: 960px) {
  .planets {
    display: none;
  }
}