.planets {
  display: flex;
  color: black;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  flex: 1;
}

.planet-link {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}