.container-planet {
  align-items: center;
  background-image: url('./background-stars.svg');
  background-color: rgb(10 10 43);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.planet {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
  padding: 0 60px;
  width: 100%;
}

.planet-overview {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.image-container {
  flex: 1;
  margin-right: 100px;
  text-align: center;
}

.planet-image {
  height: 350px;
  width: 350px;
}

.overview {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: 'Mukta', sans-serif;
  justify-content: center;
}

.planet-name {
  color: rgb(255, 255, 255);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 50px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.planet-description {
  color: rgb(191 186 186);
  font-size: 14px;
  font-weight: 100;
  line-height: 1.2;
  max-width: 400px;
  padding-bottom: 10px;
}

.planet-source {
  color: #d8cfcf;
  font-size: 12px;
}

.planet-source-link {
  color: #cacaca;
}

.planet-facts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.fact {
  border: 1px solid #757171;
  height: 80px;
  max-width: 150px;
  padding: 15px;
  width: 100%;
}

.fact-title {
  color: rgb(191 186 186);
  font-family: 'Mukta', sans-serif;
  font-size: 10px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.fact-description {
  color: white;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 20px;
  letter-spacing: 1px; 
  text-transform: uppercase;
}

@media (max-width: 960px) {
  
  .planet {
    justify-content: center;
  }

  .planet-overview {
    flex-direction: column;
    padding: 60px 0;
  }

  .overview {
    text-align: center;
    align-items: center;
  }

  .planet-description {
    font-size: 20px;
    line-height: 2;
    max-width: 650px;
    padding-bottom: 30px;
  }

  .planet-source {
    font-size: 19px;
  }

  .image-container {
    margin-right: unset;
    margin-bottom: 50px;
  }

  .planet-facts {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  
  .fact {
    flex-direction: row;
    max-width: unset;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .fact-title {
    font-size: 20px;
  }
  .fact-description {
    font-size: 38px;
  }
}