.container {
  align-items: center;
  background: url('./bg-planets.svg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

.container h1 {
  color: rgb(245, 245, 129);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 80px;
  font-weight: 100;
  letter-spacing: 2px;
}