.container {
  background: url('./solar-system.jpg') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  height: 100vh;
}

.container h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 100;
  font-size: 80px;
  color: beige;
  text-shadow: 1px 1px 8px black, 0 0 1em #705786, 0 0 0.2em #ececec;
}